<form class="" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="inline-block mb-2" for="text">Task</label>
        <input class="block w-full py-1.5 px-3 text-gray-200 border border-sky-900 transition
        duration-500 focus:outline-none rounded bg-transparent focus:border-sky-900"
        type="text" name="text" [(ngModel)]="task.text" placeholder="Add Task"/>
    </div>
    <div class="mb-3">
        <label class="inline-block mb-2" for="day">Date</label>
        <input class="block w-full py-1.5 px-3 text-gray-200 border border-sky-900 transition
        duration-500 focus:outline-none rounded bg-transparent focus:border-sky-900"
        type="date" name="day" [(ngModel)]="task.day" placeholder="Add Day and Time"/>
    </div>
    <div class="mb-3">
        <label class="inline-block mb-2" for="reminder">Set as Priority</label>
        <input class="h-5 w-5 border border-sky-900 transition
        duration-500 focus:outline-none rounded bg-transparent focus:border-sky-900 ml-5"
        type="checkbox" name="reminder" [(ngModel)]="task.reminder" />
    </div>
    <input type="submit" value="Save Task" class="block w-full bg-slate-900 text-white py-1.5 px-3 rounded transition bg-sky-900
    hover:bg-amber-500 hover:text-slate-900 disabled:opacity-50 disabled:bg-sky-900 disabled:cursor-not-allowed">
</form>
